.wave-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Đảm bảo nền kéo dài toàn màn hình */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  /*
    Cập nhật frontend của cửa sổ up
  */
  .wave-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Đảm bảo SVG kéo dài toàn bộ chiều cao */
  }
  