/* Quote.css */

/* Thẻ Card */
.quote-card {
  background-color: #eef2f7 !important; /* Màu xanh nhạt nhẹ */
  color: #333; /* Màu chữ tối để dễ đọc trên nền sáng */
  border-radius: 10px;
  border: none; /* Bỏ border */
}

.card-body {
  padding: 1rem;
  border: none; /* Bỏ border trong Card.Body */
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-text {
  font-style: italic;
  font-size: 1rem;
}

.card-img {
  object-fit: cover;
  height: 150px; /* Đảm bảo ảnh sách có chiều cao đều nhau */
  width: 100%; /* Đảm bảo ảnh sách chiếm hết chiều rộng */
  border-radius: 10px; /* Bo tròn các góc ảnh sách */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hiệu ứng hover */
}

.card-title {
  font-size: 0.875rem;
  color: #333;
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start;
}

.align-items-start {
  align-items: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.card .card-body {
  padding: 0.5rem;
}

.card .card-body p {
  font-size: 1rem;
  color: #f1f1f1;
}

.col-md-4,
.col-md-8 {
  padding: 0;
}

.col-md-3 {
  padding: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.75rem;
}

/* Make books row horizontally scrollable */
.row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1rem; /* Khoảng cách dưới cùng */
}

/* Thêm khoảng cách giữa các thẻ Card trong row */
.col {
  padding-right: 10px;
  padding-left: 10px;
}
/* CustomStyles.css */

/* Cài đặt cho Col với class custom-col */
.custom-col {
  background-color: #007bff; /* Nền màu giống bg-primary */
  padding: 20px; /* Thêm padding vào trong để tạo không gian */
  border-radius: 8px; /* Bo góc nhẹ cho phần Col */
  color: #ffffff; /* Màu chữ trắng cho phần trích dẫn */
}

/* Định dạng cho tiêu đề h5 */
.custom-col h5 {
  font-size: 1.25rem; /* Kích thước chữ */
  margin-bottom: 10px; /* Khoảng cách dưới tiêu đề */
  font-weight: bold; /* Làm đậm chữ */
}

/* Định dạng cho phần Card.Text */
.custom-col .card-text {
  font-size: 1.1rem; /* Kích thước chữ của phần trích dẫn */
  line-height: 1.5; /* Độ cao dòng để văn bản dễ đọc */
  font-style: italic; /* Làm chữ nghiêng để trích dẫn nổi bật hơn */
}
